body {
    color:aliceblue;
    background: rgb(54, 17, 88);
    margin:0px;
    font-family: "Sour Gummy", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px whitesmoke;
    padding: 20px;
    font-size: 31px;
    color:aliceblue
}

.chamada{
    background: midnightblue;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

chamada-texto{
    margin-right: 5%;


}

h1{
    font-size: 40px;

}

p{
    font-size: 20px;
}

img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;

}

.categoria{
    padding-left: 20px;
    padding-left: 20px;
    margin-top: 50px;
}

.categoria-videos img{
    opacity:1,0;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1,0;
    border: 1px solid mediumslateblue;
}

.categoria h2{
    color: rgb(178, 167, 248);
}